<p style="color: green"><%= notice %></p>

<%= render @movie %>

<div class=" btn-group">
<button class=" btn btn-lg btn-info border-dark"><%= link_to "Editar", edit_movie_path(@movie) %></button>
<%= button_to "Eliminar pelicula", @movie, method: :delete, class: "btn btn-danger border-dark d-block mx-2 btn-lg" %>
<button class=" btn btn-lg btn-info d-block  border-dark"><%= link_to "Regresar a Peliculas", movies_path %></button>
</div>
